* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5em;
    background-color: #eef9ff;
    position: relative;
    min-height: 100vh;
    padding-bottom: 6em;
}

p {
    text-indent: 30px;
}

a {
    text-decoration: none;
    color: #ecf0f1;
}

.container {
    padding: 0 15%;
}

/* HEADER */
.nav-bar {
    background-color: #2c3e50;
    display: flex;
    justify-content: space-around;
    padding: 0 3em;
    margin-bottom: 2em;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    padding: 0;
}

.nav-left li,
.nav-right li {
    list-style-type: none;
    font-size: 1.2em;
}

.nav-left li {
    margin-right: 20px;
}

.nav-right li {
    margin-left: 20px;
}

.nav-left a:hover,
.nav-right a:hover {
    color: #3498db;
}

/* END HEADER */

/* HOME */
.home-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    padding: 2em;
}

.item2 {
    grid-column: 3 / span 6;
    grid-row: 1 / span 2;

}

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.product-card {
    height: 400px;
    padding: 1em;
    background: #d2d6da;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.product-img {
    height: 50%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
    overflow: hidden;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info {
    padding-top: 10%;
}

svg {
    width: 20px;
    height: 20px;
}

.product-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #34495e;
    padding: 1em;
}

.product-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
}

.text-body {
    font-size: 1em;
    padding-bottom: 10px;
}

.product-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
}

.product-img:hover {
    transform: translateY(-10%);
    box-shadow: rgba(34, 29, 9, 0.25) 0px 13px 47px -5px, rgbrgba(49, 19, 19, 0.3)x 8px 16px -8px;
}

.product-button:hover {
    border: 1px solid #3498db;
    background-color: #3498db;
}

/* HOME END */

/* INVENTORY */
.inventory-section {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.inventory-form {
    margin: 0 auto;
}

/* INVENTORY END */

/* CART */
.cart-section {
    margin-bottom: 2em;
}

#table-cart a {
    color: #2c3e50;
}

/* CART END */

/* PRODUCT */
.product-section {
    display: flex;
}

.prod-img {
    width: 60%;
}

.prod-img img {
    width: 100%;
    height: 100%;
}

.details {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.details .info {
    margin-bottom: 1em;
}

/* PRODUCT END */

/* ADMIN PAGE */
.admin-section {
    display: flex;
    flex-direction: column;
}

#table-admin {
    margin: 2em auto;
    text-align: center;
    width: 80%;
}

.wrapper {
    margin: auto;
}

/* ADMIN PAGE END */

/* ADMIN LOGIN */
.admin-login-section {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

.login-form {
    margin: auto 0;
}

.login-form a {
    color: #3498db;
}

/* ADMIN LOGIN END */

/* COMPONENTS */
.fixed {
    height: 450px;
}

.pointer {
    cursor: pointer;
    border: 1px solid;
    height: 25px;
    border-radius: 4px;
}

.button {
    border-color: #6c757d;
}

.button:hover {
    background-color: #6c757d;
    color: #FFF;
}

.update:hover {
    background-color: #198754;
    border-color: #198754;
    color: #FFF;
}

.delete:hover {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #FFF;
}

.create:hover {
    background-color: #0D6EFD;
    border-color: #0D6EFD;
    color: #FFF;
}

.formBtn {
    justify-content: center;
    margin: 0;
}

.input {
    height: 2em;
}

span {
    font-size: 14px;
    font-weight: 700;
}

#formAdmin {
    border: 1px solid #888888;
    width: 200px;
}

/* COMPONENTS END */

/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 20px;
    background-color: #2c3e50;
    padding: 20px 0;
    text-align: center;
    color: #ecf0f1;
}

/* FOOTER END */